body{
font-family:Arial;
padding:40px;
background:#f5f5f5;
}

input{
padding:10px;
width:250px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
}

pre{
background:white;
padding:20px;
margin-top:20px;
}
